PuzzleDef(
    parts: {
        "z-main": Zone(
            state: Current,
            camera: (Vec3(0.0, 2.0, -4.0), Vec3(0.0, 1.0, 4.0)),
        ),
        "z-hanging-key": Zone(
            state: Open,
            camera: (Vec3(-1.0, 2.0, 1.5), Vec3(-2.0, 1.5, 2.5)),
            clickable: (Vec3(-2.0, 1.7, 2.5), 0.25),
        ),
        "z-chest": Zone(
            state: Open,
            camera: (Vec3(1.0, 2.0, 0.0), Vec3(2.0, 0.5, 2.5)),
            clickable: (Vec3(2.0, 0.5, 2.5), 1.5),
        ),
        "i-key": Item(
            position: Vec3(-2.0, 1.5, 2.5),
            gltf_scene: "puzzle.gltf#Key",
            state: Open,
            decoration: Rotating,
        ),
        "i-chest": Item(
            position: Vec3(2.0, 0.0, 2.5),
            rotation: Vec3(0.0, 0.75, 0.0),
            gltf_scene: "puzzle.gltf#Chest",
            state: Locked,
        ),
        "i-lid": Item(
            position: Vec3(2.0, 0.0, 2.5),
            rotation: Vec3(0.0, 0.75, 0.0),
            gltf_scene: "puzzle.gltf#Lid",
            state: Locked,
        ),
        "p-floor": Item(
            position: Vec3(0.0, 0.0, 0.0),
            gltf_scene: "puzzle.gltf#Floor",
            state: Locked,
        ),
    }
)
