PuzzleDef(
    initial_layout: "puzzle.gltf#PuzzleLayout",
    parts: {
        "z-main": Zone(
        ),
        "z-hanging-key": Zone(
            clickable: Clickable(
                radius: 0.25,
            ),
        ),
        "z-chest": Zone(
            clickable: Clickable(
                radius: 1.5,
            ),
        ),
        "i-key": Item(
            gltf_scene: "puzzle.gltf#Key",
            state: Open,
            decoration: Rotating,
        ),
        "i-chest": Item(
            gltf_scene: "puzzle.gltf#Chest",
            state: Locked,
        ),
        "i-lid": Item(
            gltf_scene: "puzzle.gltf#Lid",
            state: Locked,
        ),
        "p-floor": Item(
            gltf_scene: "puzzle.gltf#Floor",
            state: Locked,
        ),
    }
)
